.explorepage-container {
  display:flex;
  justify-content: center;
}

.explorepage-inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.explorepage-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 1200px;
  max-width: 1280;
  width: 100%;
}

.image-container {
  width: auto;
  position: relative;
}

/* .image-container:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
} */

/* .image {
  max-height: 327px;
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  max-height: 327px;
  height: 100%;
  object-fit: cover;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
  font-size: 16px;
}

.image-container:hover .image {
  /* opacity: 0.3; */
}

.image-container:hover .middle {
  opacity: 1;
}
