.explorepage-container {
  display:flex;
  justify-content: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  margin-top: 36px
}

.explorepage-inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.explorepage-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  /* flex: 1 1 auto; */
}
