/* TODO Add site wide styles */

* {
  font-family: 'Figtree', sans-serif;
}

textarea {
  resize: none;
}

.error-message-container {
  display: flex;
}

.error-container {
  color: red;
}

.exclamation-point {
  margin-right: 5px;
  margin-top: 2px
}
