.login-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}


.login-navbar {
  display: flex;
  font-size: 20px;
  color: white;
  background-color: #212124;
  height: 48px;
  align-items: center;
  position: absolute;
  width: 100%;
}

.login-navbar-inner-container {
  height: 48px;
  /* display: flex; */
  margin: auto;
  width: 80%;
  /* align-items: center; */
}

.login-navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 48px;
  width: 138.5px;
}

.login-navbar-dot-container {
  display: flex;
  width: 35px;
  position: relative;
}

.login-navbar-bluedot {
  color: #0063E0;
  font-size: 50px;
}

.login-navbar-pinkdot {
  position: absolute;
  color: #FF0088;
  font-size: 50px;
  left: 13px;
}

.login-navbar-discovr {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-left: 2px;
}

.login-background-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.login-form-container {
  position: absolute;
  display: flex;
}

.login-form-inner-container {
  display: flex;
  justify-content: center;
}

.login-form {
  width: 22rem;
  /* height: 377.562px; */
  border-radius: 0.25rem;
  background-color: white;
  padding: 24px;
  box-sizing: border-box;
  margin-top: 48px;
}

.login-form-dot-icon {
  display: flex;
  width: 100%;
  height: 34px;
  /* margin-bottom: 8px; */
  /* position: relative; */
  /* line-height: 10px; */
  justify-content: center;
}

.login-form-dot-container {
  display: flex;
  /* justify-content: space-between; */
  width: 30px;
  margin-right: 4px;
  margin-top: 4px
}

.login-form-bluedot {
  color: #0063E0;
  font-size: 49px;
  line-height: 10px;
  width: 12px;
}

.login-form-pinkdot {
  /* position: absolute; */
  color: #FF0088;
  font-size: 49px;
  line-height: 10px;
  width: 12px;
  /* left: 13px; */
}

.login-form-login-container {
  display: flex;
  justify-content: center;
  /* margin-bottom: 8px; */
}

.login-form-login {
  font-size: 20px;
  margin-bottom: 8px;
}

.login-form-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.login-input {
  box-sizing: border-box;
  width: 302px;
  height: 55.17px;
  /* border: 0; */
  padding-left: 16px;
  font-size: 16px;
  border: none;
  border: 1px solid #8b8b91;
  border-radius: 4px;
}

.login-form-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  /* width: 256px; */
  width: 100%;
  line-height: 24px;
  margin-top: 32px;
  padding: 8px 24px;
  background-color: rgb(18, 143, 220);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

.login-demo-button {
  /* width: 256px; */
  width: 100%;
  line-height: 24px;
  margin-top: 12px;
  padding: 8px 24px;
  background-color: rgb(18, 143, 220);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

.login-signup-container {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.login-signup-two {
  margin-left: 4px;
  color: rgb(18, 143, 220);
  cursor: pointer;
}
