.tagsearch-outer-container {
  height: 100%;
  min-height: 100vh;
  background-color: #f3f5f6;
}

.tagsearch-container {
  background: white;
  display: flex;
  justify-content: center;
  padding-bottom: 10em;
  padding-top: 36px;
  background-color: #f3f5f6;
}

.tagsearch-inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
}

.tagsearch-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 5px;
  /* width: 1200px; */
  width: 100%;
  max-width: 1440px;
  box-sizing: content-box;
  width: 100%;
}

.tagsearch-images-container > * {
  /* flex: 1 1 auto; */
  flex-grow: 1;
  /* flex-shrink: 1; */
  /* flex-basis: auto; */
}
