.create-comment-container {
  display: flex;
  width: 482px;
  height: 97px;
  /* border: 1px solid black; */
  margin-top: 15px;
  margin-bottom: 100px;
}

.create-comment-pic {
  height: 32px;
  width: 32px;
  margin-left: 10px;
}

.create-comment-right-container {
  width: 421px;
  position: relative;
  margin-left: 19px;
}

.create-comment-name {
  font-size: 14px;
  font-weight: 600;
  /* margin-top: 2px; */
  margin-bottom: 2px
}

.create-comment-body {
  font-size: 14px;
  width: 421px;
  height: 92px;
  box-sizing: border-box;
}

.create-comment-button-container {
  display: flex;
  justify-content: flex-end;
}

.create-comment-error {
  color: red;
  font-size: 14px;
}

.create-comment-button {
  padding: 6.5px 20px;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  color: white;
  background-color: rgb(0, 145, 220);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.create-image-error {
  /* color: white; */
  color: red;
}
