.create-image-navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgba(21,21,23);
  height: 50px;
  align-items: center;
  position: absolute;
  width: 100%;
}

.create-image-navbar-inner-container {
  /* height: 48px;
  display: flex;
  margin: auto;
  width: 80%;
  align-items: center; */

  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.create-image-navbar-left {
  display: flex;
  width: 256.05px;
  justify-content: space-between;
  align-items: center;
}

.create-image-navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 138.5px;
}

.create-image-navbar-dot-container {
  display: flex;
  width: 35px;
  position: relative;
}

.create-image-navbar-bluedot {
  color: #0063E0;
  font-size: 50px;
}

.create-image-navbar-pinkdot {
  position: absolute;
  color: #FF0088;
  font-size: 50px;
  left: 13px;
}

.create-image-navbar-discovr {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-left: 2px;
}

.create-image-navbar-explore {
  color: white;
  margin-left: 12px;
  font-size: 16px;
  cursor: pointer;
}

.create-image-navbar-right {
  display: flex;
  width: 52px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.create-image-navbar-upload-photo {
  color: white;
  cursor: pointer;
}

.create-image-navbar-logout {
  color: white;
  cursor: pointer;
}

.create-image-form-container {
  background: #212124;
  color: white;
  height: 100vh;
  /* padding-top: 48px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-image-form {
  /* padding-top: 48px; */
}

.create-image-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.create-image-input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: none;
}

.create-image-input-inner-container > textarea {
  display: flex;
  /* text-align: center; */
}

.create-image-input-description {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: none;
}

.create-image-button-container {
  display: flex;
  justify-content: center;
}

.create-image-button {
  padding: 6.5px 20px;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  color: white;
  background-color: rgb(0, 145, 220);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
