.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
}

.navbar-left {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
