.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: rgba(21,21,23);
  position: sticky;
  top: 0;
  z-index: 5;

}

.navbar-inner-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  width: 256.05px;
  justify-content: space-between;
  align-items: center;
  margin-right: 48px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-dot-container {
  display: flex;
  width: 35px;
  position: relative;
}

.navbar-bluedot {
  color: #0063E0;
  font-size: 50px;
}

.navbar-pinkdot {
  position: absolute;
  color: #FF0088;
  font-size: 50px;
  left: 13px;
}

.navbar-discovr {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-left: 2px;
}

.navbar-you {
  color: white;
  margin-left: 24px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

.navbar-explore {
  color: white;
  margin-left: 12px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

.navbar-right {
  display: flex;
  /* width: 213.59px; */
  /* width: 643.59px; */
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar-search {
  width: 230px;
  display: flex;
  align-items: center;
}

.navbar-glass {
  padding: 8px 11px 7px 11px;
  color: black;
  border-radius: 3px 0 0 3px;
  height: 33px;
  box-sizing: border-box;
  cursor: pointer;
  /* background-color: hsla(0,0%,100%,.8); */
  background-color: white;
}

.navbar-search-input {
  height: 33px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 0 3px 3px 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  width: 200px;
  /* background-color: hsla(0,0%,100%,.8); */
  background-color: white;
}

.navbar-upload-photo {
  cursor: pointer;
  margin-left: 36px;
}

.navbar-logout {
  cursor: pointer;
  margin-left: 36px;
}
