.image-detail-top {
  display: flex;
  justify-content: center;
  height: 767px;
  background: #212124;
  align-items: center;
}


.image-detail-image {
  width: 1000px;
  height: 667px;
  object-fit: cover;
}

.image-detail-title {
  color: white;
  font-size: 24px;
  text-align: center;
}

.image-detail-bottom {
  height: 100px;
}

.image-detail-delete-button {
  cursor: pointer;
}

.image-detail-comment-card-container {
  margin-bottom: 100px;
}
