.image-detail-top {
  display: flex;
  justify-content: center;
  /* height: 767px; */
  /* height: 100%; */
  background: #212124;
  /* align-items: center; */
  /* width: 100%; */
  height: 70vh;
  flex-direction: column;
  position: relative;
  /* padding: 50px 40px 50px 0; */
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.image-detail-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-detail-image {
  /* max-width: 1000px; */
  /* max-height: 667px; */
  max-width: 75%;
  max-height: 85%;
  /* height: 100%; */
  /* width: 100%; */
  object-fit: cover;
}

.image-detail-title {
  color: white;
  font-size: 24px;
  text-align: center;
}

.image-detail-bottom {
  display: flex;
  justify-content: center;
}

.image-detail-inner-bottom {
  max-width: 1060px;
  width: 100%;
}

.image-detail-user-card {
  display: flex;
  width: 500px;
  /* height: 86px; */
  margin-top: 26px;
  margin-bottom: 26px;
}

.image-detail-user-card-pic {
  height: 60px;
  width: 60px;
}

.image-detail-user-card-right {
  margin-left: 26px;
  width: 100%;
  height: 100%;
}

.image-detail-user-card-name {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 12px;
}

.image-detail-user-card-title {
  /* margin-top: 12px; */
  /* width: 450px; */
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 10px;
}

.image-detail-user-card-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 415px;
  word-wrap: break-word;
}

.image-detail-comment-card-container {
  padding-top: 24px;
  border-top: 1px solid #cfd6d9;
  width: 500px;
}

.image-detail-comment-header {
  margin-bottom: 24px;
  font-weight: 600;
}

.image-detail-update-button {
  cursor: pointer;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 24px;
  margin-right: 60px;
}

.image-detail-delete-button {
  cursor: pointer;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 24px;
  margin-right: 12px;
}
